body {
  background: rgb(13, 0, 255);
  background: linear-gradient(
    90deg,
    rgba(13, 0, 255, 1) 0%,
    rgba(0, 173, 255, 1) 35%,
    rgba(248, 131, 121, 1) 100%
  );
  font-family: "Roboto", sans-serif;
  color: #161616; /* Dark gray text color */
  text-align: center; /* Center align all text within the body */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Center vertically within the viewport */
  margin: 0; /* Remove default margin to center horizontally */
}


/* Adjustments for smaller screens */
@media (max-width: 768px) {
  /* Center align headings and adjust font size */
  h1 {
    font-size: 24px; /* Smaller font size on small devices */
    margin: 0 auto; /* Center align horizontally */
    text-align: center; /* Center align text within the element */
  }

  /* Center align buttons */
  #submitBtn {
    display: block; /* Ensure buttons take up full width */
    margin: 0 auto; /* Center align horizontally */
  }

  /* Center align form elements */
  .secret-word-form input,
  .secret-word-form button {
    margin: 0 auto; /* Center align horizontally */
  }
}

.secret-word-form input {
    background-color: rgb(198, 229, 255);
    border-color: rgba(0, 173, 255, 1);
    box-shadow: 0 2px 4px #161616 ;
}

#submitBtn {
  background-color: black !important;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 123, 255, 0.25);
  color: #ffffff; /* White text color for buttons */
}

.container {
  padding: 20px;
}

h1 {
  font-size: 1.75rem; /* Adjust based on device size */
  margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}

#submitBtn:active {
  transform: scale(0.98);
}

.form-control {
  height: 45px; /* Larger touch area */
  padding: 10px;
}

.show-hint {
  display: block !important;
}